
$background:#e4e4e4;
$background-light: #bdbdbd;
$background-lightest: #968686;


$main:#212229;
$main-light: #34333b;
$main-lightest: #4e4e4e;

$accent: #692f2f;
// $accent: #FF847C;
$accent: #a86554;
$accent-secondary: #4CAF50;
$accent-secondary: #77DD77;