@use "./colors";

.gallery header{
    height: 35svh;
    max-width: 100%;
    h4{
        margin: 0;
        padding: 0;
        cursor: pointer; 
        color: #fff;
        transition: all 1s ease-in-out;
    }
    h4:hover{
        color: colors.$accent;
    }
    
}
.image-loader{
    // column-count: 3;
    columns: 500px;
    img{
        width: 100%;
        padding: 1em;
        transition: all 1s ease-in-out;
    }
    img:hover{
        transform: scale(1.3);

    }
}