@use "./colors";

.language-picker{
    height: 100svh;
    width: 100%;
}
.profile{
    width: 90%;
}
.logo{
    color: colors.$background;
    font-size: calc(1.5rem + 1vw);
    text-decoration: none;
    transition: all 1s ease-in-out;
    cursor: pointer;
    &:hover{
        color: colors.$accent;
    }
}
.lang-pick{
    font-size: calc(1rem + 1vw);
    color: colors.$background-light;
    cursor: pointer;
}
.hamburger{
    background: transparent;
    outline: none;
    border: none;
    font-size: calc(1.5rem + 1vw);
    color: colors.$background-light;
}
.navlinks{
    color: colors.$background-light;
    font-size: 3rem;
}
.dropdown-menu{
    position: absolute;
    background: colors.$main;
    // height: 10em;
    z-index: 10;
    li{
        color: colors.$background;
        font-size: 1.5rem;
    }
    Link, a{
        text-decoration: none;
        color: colors.$background;
        font-size: 1.5rem;
    }
}
.video-container{
    width: 100%;
    aspect-ratio: auto; 
    margin: 0;
    margin-bottom: -0.5em;
    padding: 0;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
    height: 100svh;
}
.video-container::selection{
    display: none;
}
.fix-ios-17-vid-scroll::after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: "";
    z-index: -100;
}
/*
// .volume-controls {
//     z-index: 3;
//     right: 0;
//     bottom: 0;
//     // transform: translateY(-20%);
//     background-color: transparent;
//     padding-right: 0px;
//     border-radius: 5px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
  
//   input[type="range"] {
//     height: 150px;
//     width: 20px;
//     writing-mode: bt-lr;
//     -webkit-appearance: slider-vertical;
//     appearance: slider-vertical;
//     transform: rotate(360deg);
//     background: colors.$background;
//     color: colors.$main;
//   }
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//     input[type='range'] {
//       overflow: hidden;
//       width: 150px;
//       -webkit-appearance: none;
//       appearance: none;
//       transform: rotate(270deg);
//       margin-right: 0;
//       padding-right: 0;
//       margin-bottom: 5em;
//       background-color: colors.$background-lightest;
//     }
    
//     input[type='range']::-webkit-slider-runnable-track {
//       height: 10px;
//       -webkit-appearance: none;
//       color: colors.$main;
//     //   margin-top: -1px;
//     }
    
//     input[type='range']::-webkit-slider-thumb {
//       width: 10px;
//       -webkit-appearance: none;
//       height: 10px;
//       cursor: n-resize;
//       background: colors.$main-light;
//       box-shadow: -80px 0 0 80px colors.$main-lightest;
//     }

// }
//   .volume-controls button {
//     background: none;
//     border: none;
//     outline: none;
//     color: colors.$background;
//     .bi {
//       font-size: 1.5rem;
//     }
//   }
*/
 /*
.large-navigation {
    height: 100svh;
    padding-top: 5em;
    // padding: 20em 6em;
    // background: #0C0C0C;
    background-image: url('../assets/landing/blob.svg');
    background-repeat: no-repeat;
    background-size: 250% 200%;
    background-position: 0 20%;
    background-clip: content-box;
    transition: all 2s ease-in-out;
    h3{
        
        font-size: 2rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 5em;
        margin-left: 2.5em;
        margin-right: 2em;
        Link, a{ 
            transition: all 1s ease-in-out;
            color: colors.$background;
            text-decoration: none;
        }
        Link:hover, a:hover{
            color: colors.$accent;
            font-size: 2.2rem;
            padding: 0;
            margin: 0;
        }
    }
    h2{
        font-size: 2.5rem;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;
        Link, a {
            transition: all 2s ease-in-out;
            color: colors.$background;
            text-decoration: none;
        }
        Link:hover, a:hover{
            color: colors.$accent;
            font-size: 6rem;
            padding: 0;
            margin: 0;
        }
    }
}*/
.layed-navigation{
    display: flex;
        h4{
            margin-top: 1em;
            cursor: pointer;
            display: block;
            p{
                transition: all 1s ease-in-out;
                text-decoration: none;
                color: colors.$background;
            }
            p:hover, Link:hover{
                color: colors.$accent;
            }
            a, Link{
                text-decoration: none;
                color: colors.$background;
                transition: all 1s ease-in-out;
            }
            a:hover, Link:hover{
                color: colors.$accent;
            }
        }
}
// @media screen and (max-width: 1700px){
//     .large-navigation{
//         display: none;
//         h2{
//             display: none;
//         }
//         h3{
//             display: none;
//         }
//         background: none;
//     }
//     .layed-navigation{
//         display: flex;
//         h4{
//             cursor: pointer;
            
//             display: block;
//             a, Link{
//                 transition: all 1s ease-in-out;
//                 text-decoration: none;
//                 color: colors.$background;
//             }
//             a:hover, Link:hover{
//                 color: colors.$accent;
//             }
//         }
//     }
// } 


.active {
    color: colors.$accent; 
    font-size: 6rem; 
}
.contact{
    margin-top: 2em;
    margin-bottom: 1em;
    z-index: 5;
    color: colors.$background-light;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
    p a{
        transition: all 1s ease-in-out;
        color: colors.$background-light;
        text-decoration: none;
        &:hover {
            color: colors.$accent;
        }
    }
}
.go-down{
    color: colors.$background-light;
    font-size: 3rem;
    margin-top: 2em;
    margin-bottom: 3em;
    text-decoration: none;
    animation: mouse 3s infinite;
    transition: all 1s ease-in-out;
    z-index: 4;
    i{
        background: colors.$main-light;
        padding: 0.2em;
        border-radius: 1em;
        cursor: pointer;
        transition: all 1s ease-in-out;
        &:hover{
            animation-play-state: paused;
            color: colors.$accent;
            text-decoration: underline;
            font-size: 3.6rem; 
            border-radius: 50%;
            // border: 2px solid colors.$accent;
        }
    }
}
@keyframes mouse {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1em);
    }
}
.youtube{
    color: colors.$background-light;
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
    &:hover{
        color: colors.$accent;
        text-decoration: none;    
    }
    z-index: 5;
}
.video-player{
    width: 100%;
    height: 100svh;
}
.about{   
    transition: all 1s ease-in-out;
    margin-top: 7.5em;
    // height: 80svh;
    // justify-content: end;
    // .profile-img{
    //     transition: all 1s ease-in-out;
    //     background-position: 40% 0;
    //     background-image: url("../assets/landing/profile.png");
    //     background-repeat: no-repeat;
    //     background-size: calc(max-width - 50%);
    //     background-blend-mode: darken;
    // }
    h1{
        transition: all 1s ease-in-out;
        margin-top: 0.5em;
        margin-bottom: 0;
        font-size: calc(5rem + 1vw);
        line-height: 0.9em;
        text-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
    }
    p{
        margin-bottom: 1em;
        font-size: calc(1.4rem + 0.3vw);
    }
    img{
        width: 80%;                                         
    }
    .arrow{
        cursor: pointer;
        animation: arrow 5s infinite;
        h2{
            transform: rotate(-45deg);
        }
        svg{
            transform: rotate(140deg) rotateX(180deg);
            transition: all 1s ease-in-out;
            &:hover{
                animation-play-state: paused;
                fill: colors.$accent;
            }
        }
    }
}
@keyframes arrow {
    0%, 100% {          
        transform: translateY(-3em);
    }
    50% {
        transform: translateY(4em);
    }
}
@media screen and (min-width: 1500px){
    .about{
        img{
            width: 30%;
        }
    }
    
}

// @media screen and (max-width: 1800px){
//     .about{
//         .profile-img{
//             background-position: 40% 2em;
//             background-size: 60%;
//         }
//         h1{
//             font-size: 8rem;
//         }
//     }
// }
// @media screen and (max-width: 1700px){
//     .about{
//         justify-content: center;
//         .profile-img{
//             background-position: 50% 7.5em;
//             background-size: 50%;
//         }
//         h1{
//             font-size: 7.5rem;
//         }
//     }
// }
// @media screen and (max-width: 1500px){
//     .about{
//         height: 60svh;
//         .profile-img{
//             background-position: 60%;
//             background-size: 50%;
//         }
//         h1{
//             font-size: 7rem;
//         }
//     }
// }
// @media screen and (max-width: 1300px) {
//     .about{
//         height: 60svh;
//         .profile-img{
//             background-position: 70%;
//             background-size: 50%;
//         }
//     }
// }
// @media screen and (max-width: 991px){
//     .about{
//         height: 70svh;
//         .profile-img{
//             background: none;
//         }
//         h1{
//             font-size: 6rem;
//         }
//     }
// }
// @media screen and (max-width: 767px){
//     .about{
//         .profile-img{
//             display: none;
//             background-image: none;
//         }
//         img{
//             width: 90%;
//         }
//     }
    
// }
.gradient-transition{
 width: 100svw; 
 height: 20svh;
//  background: rgb(12,12,12);
//  background: linear-gradient(180deg, rgba(12,12,12,1) 0%, rgba(255,255,255,0) 100%);
background: rgb(12,12,12);
background: linear-gradient(180deg, rgba(12,12,12,1) 4%, rgba(255,255,255,0) 100%);
}
.image-slider{
    height: 100svh;
    h1{
        // padding-top: 5em;
        font-size: 8rem;
    }
    p{
        font-size: 1.5rem;
        Link, a{
            color: colors.$accent;
            text-decoration: none;
            transition: all 1s ease-in-out;
        }
    }
}
.slide{
    // height: 75svh;
    display: flex;    
    flex-direction: row;
    .splide__slide{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 1s ease-in-out; 
        img{
            width: 70%;
            height: auto;
            transition: all 1s ease-in-out;
            &:hover{        
                transform: scale(1.3);  
            }
        }
    }
}
@media screen and (max-width: 600px){
    .image-slider{
        height: 100svh;
        h1{
            font-size: 4rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
    .slide{
        .splide__slide{
            img{
                width: 45%;
            }
            &:hover{        
                transform: none;  
            }
        }
    }
    
}





.go-up{
    width: 20%;
    color: colors.$background-light;
    font-size: 3rem;
    text-decoration: none;
    transition: all 2s ease-in-out;
    z-index: 10;
    i{
        cursor: pointer;
        transition: all 1s ease-in-out;
        &:hover{
            font-size: 3.6rem; 
        }
    }
}


.link{
    cursor: pointer;
    text-decoration: underline;
}