@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.language-picker {
  height: 100svh;
  width: 100%;
}

.profile {
  width: 90%;
}

.logo {
  color: #e4e4e4;
  font-size: calc(1.5rem + 1vw);
  text-decoration: none;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.logo:hover {
  color: #a86554;
}

.lang-pick {
  font-size: calc(0.8rem + 1vw);
  color: #bdbdbd;
  cursor: pointer;
}

.hamburger {
  background: transparent;
  outline: none;
  border: none;
  font-size: calc(1.5rem + 1vw);
  color: #bdbdbd;
}

.navlinks {
  color: #bdbdbd;
  font-size: 3rem;
}

.dropdown-menu {
  background: #212229;
}
.dropdown-menu Link, .dropdown-menu a {
  text-decoration: none;
  color: #e4e4e4;
  font-size: 1.5rem;
}

.video-container {
  width: 100%;
  aspect-ratio: auto;
  margin: 0;
  margin-bottom: -0.5em;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  overflow: hidden;
  height: 100svh;
}

.video-container::-moz-selection {
  display: none;
}

.video-container::selection {
  display: none;
}

.fix-ios-17-vid-scroll::after {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
  z-index: -100;
}

/*
// .volume-controls {
//     z-index: 3;
//     right: 0;
//     bottom: 0;
//     // transform: translateY(-20%);
//     background-color: transparent;
//     padding-right: 0px;
//     border-radius: 5px;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

//   input[type="range"] {
//     height: 150px;
//     width: 20px;
//     writing-mode: bt-lr;
//     -webkit-appearance: slider-vertical;
//     appearance: slider-vertical;
//     transform: rotate(360deg);
//     background: colors.$background;
//     color: colors.$main;
//   }
// @media screen and (-webkit-min-device-pixel-ratio:0) {
//     input[type='range'] {
//       overflow: hidden;
//       width: 150px;
//       -webkit-appearance: none;
//       appearance: none;
//       transform: rotate(270deg);
//       margin-right: 0;
//       padding-right: 0;
//       margin-bottom: 5em;
//       background-color: colors.$background-lightest;
//     }

//     input[type='range']::-webkit-slider-runnable-track {
//       height: 10px;
//       -webkit-appearance: none;
//       color: colors.$main;
//     //   margin-top: -1px;
//     }

//     input[type='range']::-webkit-slider-thumb {
//       width: 10px;
//       -webkit-appearance: none;
//       height: 10px;
//       cursor: n-resize;
//       background: colors.$main-light;
//       box-shadow: -80px 0 0 80px colors.$main-lightest;
//     }

// }
//   .volume-controls button {
//     background: none;
//     border: none;
//     outline: none;
//     color: colors.$background;
//     .bi {
//       font-size: 1.5rem;
//     }
//   }
*/
/*
.large-navigation {
    height: 100svh;
    padding-top: 5em;
    // padding: 20em 6em;
    // background: #0C0C0C;
    background-image: url('../assets/landing/blob.svg');
    background-repeat: no-repeat;
    background-size: 250% 200%;
    background-position: 0 20%;
    background-clip: content-box;
    transition: all 2s ease-in-out;
    h3{

        font-size: 2rem;
        position: absolute;
        bottom: 0;
        margin-bottom: 5em;
        margin-left: 2.5em;
        margin-right: 2em;
        Link, a{ 
            transition: all 1s ease-in-out;
            color: colors.$background;
            text-decoration: none;
        }
        Link:hover, a:hover{
            color: colors.$accent;
            font-size: 2.2rem;
            padding: 0;
            margin: 0;
        }
    }
    h2{
        font-size: 2.5rem;
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 2em;
        margin-right: 2em;
        Link, a {
            transition: all 2s ease-in-out;
            color: colors.$background;
            text-decoration: none;
        }
        Link:hover, a:hover{
            color: colors.$accent;
            font-size: 6rem;
            padding: 0;
            margin: 0;
        }
    }
}*/
.layed-navigation {
  display: flex;
}
.layed-navigation h4 {
  margin-top: 1em;
  cursor: pointer;
  display: block;
}
.layed-navigation h4 p {
  transition: all 1s ease-in-out;
  text-decoration: none;
  color: #e4e4e4;
}
.layed-navigation h4 p:hover, .layed-navigation h4 Link:hover {
  color: #a86554;
}

.active {
  color: #a86554;
  font-size: 6rem;
}

.contact {
  margin-top: 2em;
  margin-bottom: 1em;
  z-index: 5;
  color: #bdbdbd;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.contact p a {
  transition: all 1s ease-in-out;
  color: #bdbdbd;
  text-decoration: none;
}
.contact p a:hover {
  color: #a86554;
}

.go-down {
  color: #bdbdbd;
  font-size: 3rem;
  margin-top: 2em;
  margin-bottom: 3em;
  text-decoration: none;
  animation: mouse 3s infinite;
  transition: all 1s ease-in-out;
  z-index: 4;
}
.go-down i {
  background: #34333b;
  padding: 0.2em;
  border-radius: 1em;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.go-down i:hover {
  animation-play-state: paused;
  color: #a86554;
  text-decoration: underline;
  font-size: 3.6rem;
  border-radius: 50%;
}

@keyframes mouse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1em);
  }
}
.youtube {
  color: #bdbdbd;
  font-size: 1rem;
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: none;
  cursor: pointer;
  transition: all 1s ease-in-out;
  z-index: 5;
}
.youtube:hover {
  color: #a86554;
  text-decoration: none;
}

.video-player {
  width: 100%;
  height: 100svh;
}

.about {
  transition: all 1s ease-in-out;
  height: 80svh;
  justify-content: end;
}
.about .profile-img {
  transition: all 1s ease-in-out;
  background-position: 40% 0;
  background-image: url("../assets/landing/profile.png");
  background-repeat: no-repeat;
  background-size: calc(max-width - 50%);
  background-blend-mode: darken;
}
.about h1 {
  transition: all 1s ease-in-out;
  margin-top: 0.5em;
  font-size: 10rem;
  line-height: 0.9em;
  text-shadow: 0 0 80px rgba(0, 0, 0, 0.8);
}
.about p {
  margin-bottom: 1em;
  font-size: 1.6rem;
}
.about img {
  width: 70%;
}
.about .arrow {
  cursor: pointer;
  animation: arrow 5s infinite;
}
.about .arrow h2 {
  transform: rotate(-45deg);
}
.about .arrow svg {
  transform: rotate(140deg) rotateX(180deg);
  transition: all 1s ease-in-out;
}
.about .arrow svg:hover {
  animation-play-state: paused;
  fill: #a86554;
}

@keyframes arrow {
  0%, 100% {
    transform: translateY(-7em);
  }
  50% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1800px) {
  .about .profile-img {
    background-position: 40% 2em;
    background-size: 60%;
  }
  .about h1 {
    font-size: 8rem;
  }
}
@media screen and (max-width: 1700px) {
  .about {
    justify-content: center;
  }
  .about .profile-img {
    background-position: 50% 7.5em;
    background-size: 50%;
  }
  .about h1 {
    font-size: 7.5rem;
  }
}
@media screen and (max-width: 1500px) {
  .about {
    height: 60svh;
  }
  .about .profile-img {
    background-position: 60%;
    background-size: 50%;
  }
  .about h1 {
    font-size: 7rem;
  }
}
@media screen and (max-width: 1300px) {
  .about {
    height: 60svh;
  }
  .about .profile-img {
    background-position: 70%;
    background-size: 50%;
  }
}
@media screen and (max-width: 991px) {
  .about {
    height: 70svh;
  }
  .about .profile-img {
    background: none;
  }
  .about h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 767px) {
  .about .profile-img {
    display: none;
    background-image: none;
  }
  .about img {
    width: 90%;
  }
}
.gradient-transition {
  width: 100svw;
  height: 20svh;
  background: rgb(12, 12, 12);
  background: linear-gradient(180deg, rgb(12, 12, 12) 4%, rgba(255, 255, 255, 0) 100%);
}

.image-slider {
  height: 100svh;
}
.image-slider h1 {
  font-size: 8rem;
}

.slide {
  height: 75svh;
  width: 200%;
  display: flex;
  flex-direction: row;
}
.slide .splide__slide {
  display: flex;
  gap: 7em;
  flex-direction: column;
  justify-content: space-around;
}
.slide .splide__slide img {
  width: 70%;
  height: auto;
}

.go-up {
  color: #bdbdbd;
  font-size: 3rem;
  text-decoration: none;
  transition: all 2s ease-in-out;
  z-index: 4;
  cursor: pointer;
}
.go-up i {
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.go-up i:hover {
  font-size: 3.6rem;
}

.lang-op {
  font-size: 1.5em;
  font-weight: 600;
  color: #bdbdbd;
  background: #34333b;
  border: none;
  padding: 0.4em;
  border-radius: 0.2em;
  margin-bottom: 0.3em;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  transition: all ease-in-out 0.3s;
}

.lang-op::-moz-selection {
  display: none;
}

.lang-op::selection {
  display: none;
}

.lang-op:hover {
  background-color: #4e4e4e;
  color: #e4e4e4;
  font-size: 1.6em;
  padding: 0.32em;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 15em;
}

.dark {
  background-color: #212229;
  color: #e4e4e4;
}

.dark::-moz-selection {
  background-color: #e4e4e4;
  color: #212229;
}

.dark::selection {
  background-color: #e4e4e4;
  color: #212229;
}

.light {
  background-color: #e4e4e4;
  color: #212229;
}

.light::-moz-selection {
  background-color: #212229;
  color: #e4e4e4;
}

.light::selection {
  background-color: #212229;
  color: #e4e4e4;
}

.background {
  min-height: 100svh;
  background-blend-mode: overlay;
  background-image: url("../assets/landing/bg-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  display: none;
}

body {
  background-color: #e4e4e4;
  color: #212229;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  overflow: hidden;
  overflow-x: hidden;
}